/* Container styling */
.container {
  width: 100%;
  max-width: 800px; /* Adjusted max-width to fit more input fields */
  /* padding: 0.2rem; */
  border: none;
  border-radius: 1rem;
  box-sizing: border-box; /* Ensure padding is included in the container size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
}

/* Title styling */
.title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #1f2937;
  text-align: center;
}

/* Form layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
}

/* Input group layout */
.referrerEmail {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}

/* Label styling */
.label {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #374151;
}

/* Input field styling */
.input {
  flex: 1;
  min-width: 0;
  padding: 12px 18px;
  border-radius: 8px;
  border: 2px solid var(--brown, #523018);
  background: #fff;
  box-sizing: border-box;
}

/* Button styling */
.button {
  display: flex;
  width: 80px;
  height: 36px;
  padding: 12px 18px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--red, #831002);
  color: #ffffff;
  border: none;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
  transition:
    background-color 0.2s,
    transform 0.1s;
  text-align: center;
}

/* Button hover and active effects */
.button:hover {
  background-color: #831002;
}

.button:active {
  transform: scale(0.98);
}

/* Plus sign box styling */
.plusBox {
  display: flex;
  width: auto;
  height: 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--brown, #523018);
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Delete button */
.prospectContainer {
  position: relative;
  border: none;
  border-radius: 0px;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column; /* Changed to row to align input fields horizontally */
  gap: 0.2rem; /* Reduced gap between input fields */
  box-sizing: border-box;
}

/* Scrollable prospect list */
.prospectList {
  height: 15vh;
  max-height: 15vh; /* Adjust height as needed */
  overflow-y: auto;
}

.crossButton {
  display: flex;
  background: none;
  border: none;
  font-size: 18px;
  color: red;
  cursor: pointer;
  margin-right: -0.5rem;
}

.crossButton:hover {
  color: darkred;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.nameRow {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.emailAndDelete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
